## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Matplotlib Inline Charts
%matplotlib inline

In [4]:
# Import Dependencies and Setup
import gmaps
import os
import pandas as pd
import requests

# Import API key
from config import g_key

In [5]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
input_directory = os.path.join("..", "Vacation_Search")
input_data_file = "WeatherPy_vacation.csv"

file_to_load = os.path.join(input_directory, input_data_file)

vacation_df = pd.read_csv(file_to_load, index_col="City_ID")
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
1,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Yinchuan,CN,87.84,scattered clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
5,Puerto Escondido,MX,86.83,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
16,Borovsk,RU,81.10,clear sky,55.2064,36.4861,Dining House in Borovsk
19,Hilo,US,81.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [10]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Valdosta") & (vacation_df["Country"]=="US")]
vacation_end = vacation_start

vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Lynn Haven") & (vacation_df["Country"]=="US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Opelousas") & (vacation_df["Country"]=="US")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Russell") & (vacation_df["Country"]=="US")]

In [18]:
vacation_start

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
549,Valdosta,US,89.69,clear sky,30.8327,-83.2785,Courtyard by Marriott Valdosta

In [49]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][4], vacation_start.to_numpy()[0][5])
end = (vacation_end.to_numpy()[0][4], vacation_end.to_numpy()[0][5])

stop1 = (vacation_stop1.to_numpy()[0][4], vacation_stop1.to_numpy()[0][5])
stop2 = (vacation_stop2.to_numpy()[0][4], vacation_stop2.to_numpy()[0][5])
stop3 = (vacation_stop3.to_numpy()[0][4], vacation_stop3.to_numpy()[0][5])

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(layout={"width": "850px", "height": "500px"})

vacation_directions = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_directions)

# Display the figure
fig

Figure(layout=FigureLayout(height='500px', width='850px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Valdosta,US,89.69,clear sky,30.8327,-83.2785,Courtyard by Marriott Valdosta
1,Lynn Haven,US,88.03,broken clouds,30.2455,-85.6483,Wingate by Wyndham Panama City Area Lynn Haven
2,Opelousas,US,89.87,scattered clouds,30.5335,-92.0815,"Holiday Inn & Suites Opelousas, an IHG Hotel"
3,Russell,US,84.99,broken clouds,32.3502,-85.1999,Macs

In [63]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [64]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
trip_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [67]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(layout={"width": "850px", "height": "500px"})

marker_layer = gmaps.marker_layer(locations, info_box_content=trip_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='500px', width='850px'))